<style>
    .h {
        margin-top: 0;
        margin-left: 100px
    }

    .s {
        margin-top: 0;
{#        margin-left: 200px;#}
        width: 200px;
        height: 40px;
        font-size: 20px
    }

    .p {
        font-size: 20px;width: 240px;

    }

    div option {
        font-size: 20px
    }

    div section {
        margin-top: 0;
        margin-left: 200px;
        width: 200px;
        height: 50px;
        font-size: 20px
    }

</style>
<div style="width: 100%; margin-top: 0;background-color: cornsilk ">
    <div style="float: left;width: 600px;margin-top:70px;margin-left:50px;">
        <form action="/versionCommit/" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputEmail1" class="p">提交人：</label>
            <input type="text" name="commituser" required class='p';style="font-size: 15px" id="exampleInputEmail1" placeholder="示例：周强/6092002351">
        </div>
        <div class="group">
            <label for="sel1" class="p">选择网管:</label>
            <select id='sel1' name="OMMBid" class="s">
                <option class="p" >192.168.4.220</option>
                <option class="p" >192.168.8.220</option>
                <option class="p" >192.168.10.220</option>
            </select>
        </div>
        <br>
        <div class="group">
            <label for="sub1"  class="p">子网:</label>
                <input type="text" required name="subid" id="sub1" class="p"/>
            <br>
            <br>
            <label for="neid" class="p">基站号:</label>
                <input type="text" required id="neid"  name="neid" class="p"/>

        </div>
        <br>
            <div class="form-group">
            <label for="exampleInputEmail1" class="p">父版本路径：</label>
            <input type="text" name="parent_path" disabled class="p";style="font-size: 18px" id="exampleInputEmail1" >
            </div>
        <div class="form-group commitmenu">
           <span class="p" style="font-weight: 900">热补丁文件：</span>
            <input type="file" required id="exampleInputFile" name="versionfile" style="margin-left: 250px;font-size: 18px">
        </div>
        <div class="group">
            <label for="cloud_test_tag1" class="p">执行自动化测试</label>
                <input type="checkbox" name="cloudtesttag" id="cloud_test_tag1" style="width: 25px;height: 25px;margin-left: 10px">
        </div>
            <br>
          <div class="">
             <span for="exampleInputtest" class="p" style="font-weight: 900">其他备注：</span>
            <textarea style="font-size: 18px;width: 300px;margin-top: 1px;margin-left: 230px" id="exampleInputtest" name="otherdata"
                      placeholder="对版本的基本描述，环境需要的单板配置等等"></textarea>
        </div>
            <br/>
            <br/>
        <button type="submit" style="width: 130px;height: 40px;font-size: 20px;margin-left: 150px">提交</button>
        <button type="reset" style="width: 130px;height: 40px;font-size: 20px;margin-left: 30px">重置</button>
    </form>
    </div>

</div>