<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/common.css">
    <link rel="stylesheet" href="/static/jquery-ui-1.12.1.custom/jquery-ui.css">
    <style>
        .menu {
            width: 100%;
            height: 100px;
            background-color: #c1e2b3;
            border: 1px solid red;
            color: black;
            padding-left: 15px;
            padding-top: 12px;
            text-align: inherit;
        }
    </style>
</head>
<body style="height: 100%;background-color: cornsilk">
<div class='head' style="margin:0 ;width: 100%">
    <div style="float: left;font-size: 35px;color: blue;margin-left: 16%">
        <img height="53" src="/static/img/head1.jpg"/>
    </div>
    <div style="float: right;">
        <span style="margin-right: 30px">今日访问量：23</span>
        <a href=# style="margin: 0 10px">关于</a>
        <a href=# style="margin: 0 20px">帮助</a>
        <a href=# style="margin: 0 20px">联系我们</a>
    </div>
    <div style="clear: both"></div>
</div>
<div style="position: fixed;
    top:60px;
    left: 0;
    bottom:0;
    width: 300px;height: 100%;min-width:300px;background-color: #c1e2b3">
    <div style="margin-left: 10px">
        {% include 'DatepickerTag.html' %}
    </div>
    <br>
    <br>
    <div>
        <div class="menu">
            <h3>多模热补丁版本调度</h3>
        </div>
    </div>
    <div>
        <div class="menu">
            <h3>内存管理</h3>
        </div>
    </div>
    <div>
        <div class="menu">
            <h3>CC性能分析</h3>
        </div>
    </div>
    <div>
        <div class="menu">
            <h3>环境资源池</h3>
        </div>
    </div>
</div>
<div style="float: right;width:80%;height: 100%">
    <div>
        {% include 'managetag1.html' %}
    </div>
</div>
<script src="/static/jquery-1.11.3/jquery.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/static/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
</body>
</html>